extends ../_base.pug

block content
  | {% import "bootstrap/utils.html" as utils %}
  | {% import "bootstrap/wtf.html" as wtf %}
  .content-section
    br
    | {{ utils.flashed_messages() }}
    br
    .center
      h1 Register for an account
      br
      | {{ wtf.quick_form(form) }}
