extends ../_base.pug

block content
  .content-section
    h1 {{world.title}}

    div {{world.description}}

    a(href="{{ url_for('world.galaxy_edit') }}", class="btn btn-sm btn-primary", data-toggle="tooltip", title="Добавить") <i class="fa fa-plus"></i> Add Galaxy
    +panel("Select Galaxy", false, false, true)
      div(class="well well-sm btn-toolbar well-toolbar", role="toolbar", aria-label="toolbar")
        | &nbsp;
        a(href="{{ url_for('world.world_edit') }}", class="btn btn-sm btn-primary", data-toggle="tooltip", title="Добавить") <i class="fa fa-plus"></i>

        .pull-right
          strong Total: 
          | { pagination.total }
      div
        .table-responsive
          table(class="table table-bordered table-hover")
            thead
              tr
                th(class="col-md-1 col-lg1 col-sm-1")
                th
                  | Galaxy
            tbody
              | {% for i in galaxies %}
              tr
                td 
                  center
                    div(class="btn-group btn-group-xs")
                      a(href="{{ url_for('world.world_show', world_id=i.id) }}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Просмотреть")
                        i(class="fa fa-search")
                      | {% if i.id %}
                      a(href="{{ url_for('world.galaxy_edit', galaxy_id=i.id) }}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Редактировать")
                        i(class="fa fa-edit")
                      a(data-href="{{ url_for('world.world_del', world_id=i.id) }}", class="btn btn-sm btn-primary confirm" data-toggle="modal", title="Удалить", data-text="Вы уверены, что хотите удалить эту запись?", data-target="#confirm-del")
                        i(class="fa fa-eraser")
                      | {% else %}
                      a(href="{{ url_for('world.galaxy_edit', galaxy_title=i.title, world_id=world_id) }}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Редактировать")
                        i(class="fa fa-edit")
                      a(data-href="{{ url_for('world.world_del', world_id=0) }}", class="btn btn-sm btn-primary confirm disabled" data-toggle="modal", title="Удалить", data-text="Вы уверены, что хотите удалить эту запись?", data-target="#confirm-del")
                        i(class="fa fa-eraser")
                      | {% endif %}
                td
                  | {% if i.id %}
                  a(href="{{ url_for('world.galaxy_edit', galaxy_id=i.id) }}") {{i}}
                  | {% else %}
                  a(href="{{ url_for('world.galaxy_edit', galaxy_title=i.title, world_id=world_id) }}") {{i}} 
                  span(class="label label-info") Generate
                  | {% endif %}

              | {% endfor %}

    | {% if stars %}
    +panel("Select Star", false, false, true)
      div(class="well well-sm btn-toolbar well-toolbar", role="toolbar", aria-label="toolbar")
        | &nbsp;
        a(href="{{ url_for('world.world_edit') }}", class="btn btn-sm btn-primary", data-toggle="tooltip", title="Добавить") <i class="fa fa-plus"></i>

        .pull-right
          strong Total: 
          | { pagination.total }
      div
        .table-responsive
          table(class="table table-bordered table-hover")
            thead
              tr
                th(class="col-md-1 col-lg1 col-sm-1")
                th
                  | Star
            tbody
              | {% for i in stars %}
              tr
                td 
                  center
                    div(class="btn-group btn-group-xs")
                      a(href="{{ url_for('world.world_show', world_id=i.id) }}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Просмотреть")
                        i(class="fa fa-search")
                      a(href="{{ url_for('world.world_edit', world_id=i.id) }}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Редактировать")
                        i(class="fa fa-edit")
                      a(data-href="{{ url_for('world.world_del', world_id=i.id) }}", class="btn btn-sm btn-primary confirm" data-toggle="modal", title="Удалить", data-text="Вы уверены, что хотите удалить эту запись?", data-target="#confirm-del")
                        i(class="fa fa-eraser")
                td
                  a(href="{{ url_for('world.world_show', world_id=i.id) }}") {{i}}

              | {% endfor %}
    | {% else %}
    a(href="{{ url_for('world.world_edit') }}", class="btn btn-sm btn-primary", data-toggle="tooltip", title="Добавить") <i class="fa fa-plus"></i> Add Star
    | {% endif %}

    | {% if planets %}
    +panel("Select Planet", false, false, true)
      div(class="well well-sm btn-toolbar well-toolbar", role="toolbar", aria-label="toolbar")
        | &nbsp;
        a(href="{{ url_for('world.world_edit') }}", class="btn btn-sm btn-primary", data-toggle="tooltip", title="Добавить") <i class="fa fa-plus"></i>

        .pull-right
          strong Total: 
          | { pagination.total }
      div
        .table-responsive
          table(class="table table-bordered table-hover")
            thead
              tr
                th(class="col-md-1 col-lg1 col-sm-1")
                th
                  | Planet
            tbody
              | {% for i in planets %}
              tr
                td 
                  center
                    div(class="btn-group btn-group-xs")
                      a(href="{{ url_for('world.world_show', world_id=i.id) }}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Просмотреть")
                        i(class="fa fa-search")
                      a(href="{{ url_for('world.world_edit', world_id=i.id) }}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Редактировать")
                        i(class="fa fa-edit")
                      a(data-href="{{ url_for('world.world_del', world_id=i.id) }}", class="btn btn-sm btn-primary confirm" data-toggle="modal", title="Удалить", data-text="Вы уверены, что хотите удалить эту запись?", data-target="#confirm-del")
                        i(class="fa fa-eraser")
                td
                  a(href="{{ url_for('world.world_show', world_id=i.id) }}") {{i}}

              | {% endfor %}
    | {% else %}
    a(href="{{ url_for('world.world_edit') }}", class="btn btn-sm btn-primary", data-toggle="tooltip", title="Добавить") <i class="fa fa-plus"></i> Add Planet
    | {% endif %}
