extends ../_base.pug

block content
  .content-section
    h1 Select RPG
    div(class="btn-toolbar", role="toolbar", aria-label="toolbar")
      a(href="{{ url_for('rpg.rpg_add') }}", type="button", class="btn btn-default") <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><br>Add
      a(href="{{ url_for('rpg.rpg_del') }}", type="button", class="btn btn-default") <span class="glyphicon glyphicon-minus" aria-hidden="true"></span><br>Del
    | {% if games %}
    ul
      | {% for rpg in games %}
      li
        a(href="{{rpg.url}}") {{rpg}}
        | {%if rpg.website %} - 
        a(href="{{rpg.website}}") {{rpg.website}}
        | {% endif %}
      | {% endfor %}
    | {% else %}
    div No aviable RPGs
    | {% endif %}
