extends ../_base.pug

block content
  | {% import "bootstrap/utils.html" as utils %}
  | {% import "bootstrap/wtf.html" as wtf %}
  .content-section
    br
    | {{ utils.flashed_messages() }}
    .outer
      .middle
        .inner
          .center
            h1 {{title}}
            br
            | {{ wtf.quick_form(form) }}