@import "_colors.scss";

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

@import "_navbar.scss";

.alert {
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
}

.alert-info {
    color: $alertColor;
    background-color: $alertBackground;
    border-color: $alertBorder;
}

.btn-default {
    border-color: $btnBorder;
    color: $btnColor;
}

.btn-default:hover {
    background-color: $btnHover;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content-section {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  .center {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
  }
}

.footer, .push {
  clear: both;
  height: 4em;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.well-toolbar {
  margin-left: 0;
}
