ul(class="nav navbar-nav navbar-right")
  | {% if current_user.is_authenticated %}
  li
    a(href="{{ current_user.after_login }}") Dashboard
  li(class="dropdown")
    a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Справочники <span class="caret"></span>
    ul(class="dropdown-menu")
      li
        a(href="{ url_for('list_cases') }") Дела
      li
        a(href="{ url_for('list_registers') }") Описи
  | {% if current_user.is_admin %}
  li
    a(href="{ url_for('admin.list_departments') }") Departments
  li
    a(href="{ url_for('admin.list_roles') }") Roles
  li
    a(href="{ url_for('admin.list_employees') }") Employees
  | {% endif %}
  li
    a(href="{ url_for('auth.logout') }") Logout
  li
    a <i class="fa fa-user"></i> Hi, {{ current_user.username }}!
  | {% else %}
  li
    a(href="{{ url_for('home.index') }}") Home
  li
    a(href="{{ url_for('auth.register') }}") Register
  li
    a(href="{{ url_for('auth.login') }}") Login
  | {% endif %}
