extends ../bower_components/crud-assets/templates/_index.pug

block title
  | {{appname}}{% if title %} - {{title}}{% endif %}

block navbrand
  | {{appname}}

block navbar
  include _menu.pug

block style
  link(href="{{ url_for('static', filename='css/dropzone.min.css') }}", rel="stylesheet")
  link(href="{{ url_for('static', filename='css/main.css') }}", rel="stylesheet")
  | {% block style %}{% endblock %}

block script
  script(src="{{ url_for('static', filename='js/dropzone.min.js') }}")
  script(src="{{ url_for('static', filename='js/index.js') }}")
  | {% block script %}{% endblock %}
