doctype html
html
  head
    title {{title}} | Project Dream Team
    link(href="{{ url_for('static', filename='css/bootstrap.min.css') }}", rel="stylesheet")
    link(href="{{ url_for('static', filename='css/font-awesome.min.css') }}", rel="stylesheet")
    link(href="{{ url_for('static', filename='css/style.css') }}", rel="stylesheet")
    link(rel="shortcut icon", href="{{ url_for('static', filename='favicon/favicon.ico') }}")
  body
    nav(class="navbar navbar-default navbar-fixed-top topnav", role="navigation")
      div(class="container topnav")
        div(class="navbar-header")
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand topnav", href="{{ url_for('home.homepage') }}") Project Dream Team
        div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav navbar-right")
            | {% if current_user.is_authenticated %}
            | {% if current_user.is_admin %}
            li
              a(href="{{ url_for('home.admin_dashboard') }}") Dashboard
            li
              a(href="{{ url_for('admin.list_departments') }}") Departments
            li
              a(href="{{ url_for('admin.list_roles') }}") Roles
            li
              a(href="{{ url_for('admin.list_employees') }}") Employees
            | {% else %}
            li
              a(href="{{ url_for('home.dashboard') }}") Dashboard
            | {% endif %}
            li
              a(href="{{ url_for('auth.logout') }}") Logout
            li
              a <i class="fa fa-user"></i> Hi, {{ current_user.username }}!
            | {% else %}
            li
              a(href="{{ url_for('home.homepage') }}") Home
            li
              a(href="{{ url_for('auth.register') }}") Register
            li
              a(href="{{ url_for('auth.login') }}") Login
            | {% endif %}

    .wrapper
      block body

      .push

    footer
      .container
        .row
          .col-lg-12
            ul.list-inline
              li
                a(href="{{ url_for('home.homepage') }}") Home
              li.footer-menu-divider .
              | {% if current_user.is_authenticated %}
              li
                a(href="{{ url_for('auth.logout') }}") Logout
              | {% else %}
              li
                a(href="{{ url_for('auth.register') }}") Register
              li.footer-menu-divider .
              li
                a(href="{{ url_for('auth.login') }}") Login
              | {% endif %}
            p(class="copyright text-muted small") Copyright &copy; 2017/ All Rights Reserved
