{% extends "charlist.html" %}
{% block char %}
<h1>{{g.selected.name}}</h1>
<ol>
  <li>Определить Способности (10, 10, 10, 10, 10, 10)</li>
  <li><a href="{{ url_for('race_sel') }}">Выберите Расу</a> (Человек)</li>
  <li>Выберите Класс (Простолюдин)</li>
  <li>Выберите Умения и Навыки</li>
  <li>Выберите Снаряжение</li>
  <li>
    Закончите Создание Персонажа
    <ul>
      <li>Хит Пойнты</li>
      <li>Класс Доспехов</li>
      <li>Спасброски</li>
      <li>Инициатива</li>
      <li>Атаки</li>
      <li>Имя</li>
      <li>Мировоззрение</li>
      <li>Внешность</li>
    </ul>
  </li>
</ol>
{% endblock %}
