{% extends "rpa.html" %}
{% block content %}
<h1>Расы</h1>
<ul>
  <li><a href="#">Добавить</a></li>
  {% for r in races %}
    <li><a href="{{ url_for('race_show', race_id=r.id) }}">{{ r }}</a></li>
  {% endfor %}
  <li>Определить Способности (10, 10, 10, 10, 10, 10)</li>
  <li>Выберите Расу (Человек)</li>
  <li>Выберите Класс (Простолюдин)</li>
  <li>Выберите Умения и Навыки</li>
  <li>Выберите Снаряжение</li>
  <li>
    Закончите Создание Персонажа
    <ul>
      <li>Хит Пойнты</li>
      <li>Класс Доспехов</li>
      <li>Спасброски</li>
      <li>Инициатива</li>
      <li>Атаки</li>
      <li>Имя</li>
      <li>Мировоззрение</li>
      <li>Внешность</li>
    </ul>
  </li>
</ul>
{% endblock %}
