extends ../_base.pug

block content
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            h1 {{ appname }}
            h3 Admin page
            hr.intro-divider
            ul
              li
                a(href="{{ url_for('world.world_list') }}") Worlds
              li
                a(href="{{ url_for('admin.galaxy_name_list') }}") Galaxy names
              li
                a(href="{{ url_for('admin.galaxy_placement_list') }}") Galaxy placements
              li
                a(href="{{ url_for('admin.galaxy_form_list') }}") Galaxy forms
              li
                a(href="{{ url_for('admin.galaxy_type_list') }}") Galaxy types