extends ../_base.pug

block content
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            h1 {{ appname }}
            h3 The best company in the world!
            hr.intro-divider

