{% extends "rpa.html" %}
{% block content %}
<h1>Place names</h1>
{% if names %}
<ul>
  {% for name in names %}
  <li>{{name}}</li>
  {% endfor %}
</ul>
{% else %}
<div>No names</div>
{% endif %}
<div>
      1. {Amusement Parks} 
      2. {Antique Store Names} 
      3. {Arcade Names} 
      4. {Asylum Names} 
      5. {Bakery Names} 
      6. {Bank Names} 
      7. {Battle Arenas} 
      8. {Beach Names} 
      9. {Brewery Names} 
      10. {Bridge Names} 
      11. {Cafe Names} 
      12. {Camp Names} 
      13. {Casino Names} 
      14. {Castle Names} 
      15. {Cave Names} 
      16. {Circus Names} 
      17. {City District Names}   
      1. {Civilization Names} 
      2. {Cliff & Fjord Names} 
      3. {Company Names} 
      4. {Continent Names} 
      5. {Country/Nation Names} 
      6. {Day Care Names} 
      7. {Desert/Wasteland Names} 
      8. {Dimension Names} 
      9. {Dungeon Names} 
      10. {Farm Names} 
      11. {Film Studio Names} 
      12. {Fire Land Names} 
      13. {Forest Names} 
      14. {Game Studio Names} 
      15. {Grassland Names} 
      16. {Graveyard Names} 
      17. {Harbor Names}   
      1. {Headquarters Names} 
      2. {Hideout Names} 
      3. {Hospital Names} 
      4. {Hotel Names} 
      5. {Island Names} 
      6. {Jungle Names} 
      7. {Kingdom Names} 
      8. {Laboratory Names} 
      9. {Lake Names} 
      10. {Library Names} 
      11. {Magic School Names} 
      12. {Magic Shop Names} 
      13. {Mansion Names} 
      14. {Mining Company Names} 
      15. {Mountain Names} 
      16. {Museum Names} 
      17. {Nightclub Names}   
      1. {Oasis Names} 
      2. {Ocean/Sea Names} 
      3. {Orphanage Names} 
      4. {Outpost Names} 
      5. {Park Names} 
      6. {Pet Business Names} 
      7. {Pirate Cove Names} 
      8. {Pizzeria Names} 
      9. {Planet Names} 
      10. {Plantation Names} 
      11. {Plaza Names} 
      12. {Prison Names} 
      13. {Realm Names} 
      14. {Restaurant Names} 
      15. {River Names} 
      16. {Road Names (Fantasy)} 
      17. {Ruin Names}   
      1. {School Names} 
      2. {Shop & Business Names} 
      3. {Sky Island Names} 
      4. {Snowland Names} 
      5. {Space Station/Colony} 
      6. {Stadium Names} 
      7. {Star Names} 
      8. {Street Names} 
      9. {Swamp Names} 
      10. {Tavern Names} 
      11. {Temple Names} 
      12. {Theater Names} 
      13. {Tower Names} 
      14. Town & City Names > 
          1. {African Towns (Central)} 
          2. {African Towns (Central East)} 
          3. {African Towns (North)} 
          4. {African Towns (South)} 
          5. {African Towns (Southeast)} 
          6. {African Towns (West)} 
          7. {American Towns (Central)} 
          8. {American Towns (Northern)} 
          9. {Ancient Egyptian Towns} 
          10. {Ancient Greek Towns} 
          11. {Apocalyptic Town Names} 
          12. {Asian Towns (East)} 
          13. {Asian Towns (South)} 
          14. {Asian Towns (Southeast)} 
          15. {City Names} 
          16. {City Nicknames} 
          17. {Dwarven city Names} 
          18. {Elven city Names} 
          19. {European Towns (East)} 
          20. {European Towns (North)}   
          1. {European Towns (South)} 
          2. {European Towns (Southeast)} 
          3. {European Towns (West)} 
          4. {Fantasy Town Names} 
          5. {Ghost Town Names} 
          6. {Middle Eastern Towns} 
          7. {Necropolis Names} 
          8. {Oceania Town Names} 
          9. {Orcish city Names} 
          10. {Roman Town Names} 
          11. {Russian Town Names} 
          12. {Sky City Names} 
          13. {South American Towns (Northern)} 
          14. {South American Towns (Southern)} 
          15. {Steampunk City Names} 
          16. {Town Names} 
          17. {Underwater City Names} 
          18. {Viking Town Names} 
          19. {Wild West Town Names}    
      15. {Volcano Names} 
      16. {Waterfall Names}    
</div>
{% endblock %}

