{% extends "rpa.html" %}
{% block content %}
<h1>Fantasy names</h1>
{% if names %}
<ul>
  {% for name in names %}
  <li>{{name}}</li>
  {% endfor %}
</ul>
{% else %}
<div>No names</div>
{% endif %}
<div>
      1. {Alien Names} 
      2. {Amazon Names} 
      3. {Angel Names} 
      4. {Animal Species Names} 
      5. {Animatronic Names} 
      6. {Apocalypse/Mutant Names} 
      7. {Bandit Names} 
      8. {Banshee Names} 
      9. {Barbarian Names} 
      10. {Birdfolk Names - New!} 
      11. {Bounty Hunter Names} 
      12. {Brownie Names} 
      13. {Cat-people/Nekojin Names} 
      14. {Cavemen Names} 
      15. {Centaur Names} 
      16. {Christmas Elf Names} 
      17. {Code Names} 
      18. {Cowboy/girl Names} 
      19. {Cyberpunk (Nick)Names - New!} 
      20. {Death Names} 
      21. {Demon Names} 
      22. {Detective Names} 
      23. {Dragon Names} 
      24. {Dragon Names (Chinese) - New!}   
      1. {Dragonkin Names} 
      2. {Dryad Names} 
      3. {Dwarf Names} 
      4. {Elemental Names} 
      5. {Elf Names} 
      6. {Ent/Tree creature Names} 
      7. {Evil Names} 
      8. {Fairy Names} 
      9. {Fantasy Animal Names} 
      10. {Fantasy Creature Names} 
      11. {Fantasy Race Names} 
      12. {Fantasy Surnames} 
      13. {Fursona Names} 
      14. {Futuristic Names} 
      15. {Gargoyle Names} 
      16. {Genie Names} 
      17. {Ghost Classifications} 
      18. {Ghost/Spirit Names} 
      19. {Ghoul Names} 
      20. {Giant Names} 
      21. {Gnoll Names} 
      22. {Gnome Names} 
      23. {Goblin Names} 
      24. {God & Goddess Names}   
      1. {Golem Names} 
      2. {Gorgon Names} 
      3. {Griffin Names} 
      4. {Guardian Names} 
      5. {Half-Elf Names} 
      6. {Harpy Names} 
      7. {Hobbit Names} 
      8. {(Heroic) Horse Names} 
      9. {Hydra Names} 
      10. {Imp Names} 
      11. {Kaiju Names} 
      12. {Killer Names} 
      13. {Kitsune Names} 
      14. {Knight Names} 
      15. {Kobold Names} 
      16. {Lamia Names} 
      17. {Legendary Creature Names} 
      18. {Lich Names} 
      19. {Lizardfolk Names} 
      20. {Manticore Names - New!} 
      21. {Mecha Names} 
      22. {Medieval Names} 
      23. {Mermaid/Merman Names} 
      24. {Minotaur Names}   
      1. {Mirrored Twin Names} 
      2. {Mobster Names} 
      3. {Monster Names} 
      4. {Mutant Species Names} 
      5. {Naga Names} 
      6. {Necromancer Names} 
      7. {Nephilim Names} 
      8. {Ninja & Assassin Names} 
      9. {Nymph Names} 
      10. {Ogre Names} 
      11. {Orc Names} 
      12. {Pegasus Names} 
      13. Pets / Companions > 
          1. {Aliens} 
          2. {Amphibians} 
          3. {Bats} 
          4. {Bears} 
          5. {Birds} 
          6. {Birds of Prey} 
          7. {Cats & Felines} 
          8. {Cows} 
          9. {Crabs} 
          10. {Deer} 
          11. {Dogs & Canines} 
          12. {Elephants} 
          13. {Fish} 
          14. {Horses}   
          1. {Insects} 
          2. {Large Cats} 
          3. {Marine Mammals} 
          4. {Mice & Rats} 
          5. {Monkeys} 
          6. {Owls} 
          7. {Parrots} 
          8. {Pigs} 
          9. {Rabbits} 
          10. {Reptiles} 
          11. {Rodents} 
          12. {Sheep} 
          13. {Turtles} 
          14. {Wolves}    
      14. {Phoenix Names} 
      15. {Pirate Names} 
      16. {Robot Names} 
      17. {Roc Names - New!} 
      18. {Satyr & Faun Names} 
      19. {Sea Creature Names} 
      20. {Selkie Names} 
      21. {Servant Names} 
      22. {Shapeshifter Names} 
      23. {Siren Names}   
      1. {Slave Names} 
      2. {Species Names} 
      3. {Steampunk Names} 
      4. {Succubus Names} 
      5. {Superhero Names} 
      6. {Superhero Team Names} 
      7. {Super Villain Names} 
      8. {Sylph Names} 
      9. {Tauren Names} 
      10. {Troll Names} 
      11. {Unicorn Names} 
      12. {Valkyrie Names} 
      13. {Vampire Names} 
      14. {Vampire Clan Names} 
      15. {Warrior Nicknames} 
      16. {Werewolf Names} 
      17. {Werewolf Pack Names} 
      18. {Witch Names} 
      19. {Witch Coven Names} 
      20. {Wizard Names} 
      21. {Wyvern Names} 
      22. {Yeti Names} 
      23. {Zombie Types}    
</div>
{% endblock %}
