{% extends "rpa.html" %}
{% block content %}
<h1>Real names</h1>
{% if names %}
<ul>
  {% for name in names %}
  <li>{{name}}</li>
  {% endfor %}
</ul>
{% else %}
<div>No names</div>
{% endif %}
  <ul>
    <li>
      European
      <div>
      1. {20th Cent. English} 
      6. {Albanian Names} 
      9. {Ancient Greek Names} 
      10. {Anglo-Saxon Names} 
      12. {Aragonese Names} 
      20. {Basque Names} 
      21. {Belgian Names} 
      24. {Bosnian Names} 
      26. {Bulgarian Names} 
      29. {Catalan Names} 
      30. {Celtic (Breton) Names}   
      1. {Celtic (Irish) Names} 
      2. {Celtic (Manx) Names} 
      3. {Celtic (Scottish) Names} 
      4. {Celtic (Welsh) Names} 
      8. {Cornish Names} 
      9. {Croatian Names} 
      10. {Czech Names} 
      11. {Danish Names} 
      12. {Dutch Names} 
      13. {Edwardian Names} 
      16. {English Names} 
      18. {Estonian Names} 
      22. {Finnish Names} 
      23. {Frankish Names} 
      24. {French Names} 
      25. {Frisian Names} 
      26. {Galician Names} 
      28. {German Names} 
      29. {Gothic Names}   
      2. {Greek Names} 
      10. {Hispanic Names} 
      11. {Hungarian Names} 
      12. {Icelandic Names} 
      16. {Italian Names} 
      24. {Latin Names} 
      26. {Latvian Names} 
      27. {Lithuanian Names} 
      29. {Maltese Names}   
      10. {Norman Names} 
      11. {Norwegian Names} 
      12. {Old High German Names} 
      16. {Polish Names} 
      17. {Portuguese Names} 
      23. Renaissance Names > 
        * {English} 
        * {French} 
        * {German} 
        * {Italian} 
        * {Spanish}   
      25. {Roman Names} 
      26. {Romanian Names} 
      28. {Russian Names} 
      29. {Serbian Names}   
      1. {Shakespearean Names} 
      6. {Slavic Names} 
      7. {Slovak Names} 
      8. {Slovenian Names} 
      14. {Swedish Names} 
      15. {Swiss Names} 
      23. {Ukrainian Names} 
      25. {Victorian Names} 
      27. {Viking Names} 
      </div> 
    </li>
    <li>
      Asian
      <div>
      11. {Arabic/Muslim Names} 
      14. {Armenian Names} 
      15. {Assyrian Names} 
      16. {Azerbaijani Names} 
      18. {Babylonian Names} 
      22. {Bengali Names} 
      23. {Biblical Names} 
      27. {Burmese/Myanmar Names} 
      5. {Chinese Names} 
      21. {Filipino Names} 
      27. {Georgian Names} 
      5. {Hebrew (Older) Names} 
      6. {Hebrew/Jewish Names} 
      8. {Hindu Names} 
      14. {Indonesian Names} 
      18. {Japanese Names} 
      19. {Japanese (Edo) Names} 
      20. {Kazakh Names} 
      21. {Khmer Names} 
      22. {Korean Names} 
      23. {Kurdish Names} 
      25. {Laotian Names} 
      28. {Malaysian Names} 
      4. {Mongolian Names} 
      9. {Nepalese Names} 
      13. {Pashtun Names} 
      14. {Persian/Iranian Names} 
      15. {Phoenician Names} 
      19. {Punjabi Names} 
      24. {Roma Names} 
      3. {Sikh Names} 
      11. {Sumerian Names} 
      16. {Tajik Names} 
      19. {Thai Names} 
      20. {Tibetan Names} 
      21. {Turkish Names} 
      24. {Uzbek Names - New!} 
      26. {Vietnamese Names} 
      </div> 
    </li>
    <li>
      African
      <div>
      7. {Algerian Names} 
      19. {Basotho Names} 
      14. {Egyptian Names (Ancient)} 
      15. {Egyptian Names (Modern)} 
      19. {Ethiopian Names} 
      3. {Hausa Names} 
      5. {Moroccan Names} 
      8. {Ndebele Names} 
      9. {Somali Names} 
      12. {Sundanese Names} 
      13. {Swahili Names} 
      </div> 
    </li>
    <li>
      American
      <div>
      3. {African-American Names} 
      13. {Argentinian Names} 
      17. {Aztec (Nahuatl) Names} 
      25. {Brazilian Names} 
      7. {Colonial American Names} 
      17. {Enochian Names} 
      1. {Gujarati Names} 
      4. {Hawaiian Names} 
      7. {Hillbilly Names} 
      9. {Hippie Names} 
      15. {Inuit Names} 
      17. {Jamaican Names} 
      3. {Mayan Names} 
      6. {Native American Names} 
      20. {Puritan Names} 
      21. {Quebecois Names} 
      22. {Quechua Names} 
      </div> 
    </li>
    <li>
      Australian
      <div>
      2. {Aboriginal Names} 
      2. {Maori Names} 
      </div> 
    </li>
  </ul>
<div>
      4. {Akan Names} 
      5. {Akkadian Names - New!} 
      8. {Amazigh Names} 
      28. {Cajun Names} 
      6. {Circassian Names} 
      20. {Faroese Names} 
      13. {Igbo Names} 
      1. {Mandinka Names} 
      2. {Shona Names} 
      4. {Sindhi Names} 
      5. {Sinhalese Names} 
      10. {Suebi Names} 
      17. {Tamil Names} 
      18. {Telugu Names} 
      28. {Yoruba Names} 
      29. {Zulu Names}    


      7. {Nature Names} 
      18. {Pseudonyms} 
      27. {Royal/Posh names} 
      22. {Twin Names} 
</div>
{% endblock %}
