{% extends "rpa.html" %}
{% block content %}
<h1>Place names</h1>
{% if names %}
<ul>
  {% for name in names %}
  <li>{{name}}</li>
  {% endfor %}
</ul>
{% else %}
<div>No names</div>
{% endif %}
<div>
      1. {Afterlife Names} 
      2. {Alliance Names} 
      3. {Animal Group Names} 
      4. {Apocalypse Names} 
      5. Armor Names > 
        * {Belts} 
        * {Boots} 
        * {Bracers} 
        * {Chests} 
        * {Cloaks} 
        * {Gloves & Gauntlets} 
        * {Helmets} 
        * {Legs} 
        * {Pauldrons} 
        * {Shields}   
      6. {Army Names} 
      7. {Artifact Names} 
      8. {Attack Move Names} 
      9. {Attack Names (Anime)} 
      10. {Award Names} 
      11. {Battle Names} 
      12. {Board Game Names} 
      13. {Book Titles} 
      14. {Bouquet Names} 
      15. {Boxer Names - New!} 
      16. {Brand Names} 
      17. {Bug Species Names} 
      18. {Candy Names} 
      19. {Chivalric Order Names} 
      20. {Clothing Brand Names} 
      21. {Clown Names} 
      22. {Color Names} 
      23. {Constellation Names} 
      24. {Council Names} 
      25. {Crop Names} 
      26. {Currency Names}   
      1. {Curse Names} 
      2. {Dance Names} 
      3. {Date Names} 
      4. {Disease Names} 
      5. {Disease (Magical) Names} 
      6. {Disease (Scientific) Names} 
      7. {Dinosaur Names} 
      8. {Drink Names} 
      9. {Drug Names} 
      10. {Enchantment Names} 
      11. {Enchanted Gear Names} 
      12. {Energy Types} 
      13. {Epithets} 
      14. {Evil Organizations} 
      15. {Fantasy Plant Names} 
      16. {Fantasy Tree Names} 
      17. {Fantasy Profession Names} 
      18. {Food Names} 
      19. {Food Names (Fantasy) - New!} 
      20. {Fruit & Veg. Names} 
      21. {Fungus Names} 
      22. {Galaxy Names} 
      23. {Game Engine Names} 
      24. {Game Soundtrack Names} 
      25. {Gang / Clan Names} 
      26. {Gemstone/Mineral}   
      1. {Graffiti Tags} 
      2. {Guild / Clan Names} 
      3. {Hacker Names} 
      4. {Heist Names} 
      5. {Herb & Spice Names} 
      6. {Holiday Names} 
      7. {Holy Book Names} 
      8. {Human Species Names} 
      9. {Instrument Names} 
      10. {Invention Names} 
      11. {Jewelry Names} 
      12. {Language Names} 
      13. {Love nicknames} 
      14. {Magazine Names} 
      15. {Magic Types} 
      16. {Martial Arts Names} 
      17. {Mascot Names} 
      18. {Medicine Names} 
      19. {Metal/Element Names} 
      20. {Military Division Names} 
      21. {Military Operation Names} 
      22. {Military Rank Names} 
      23. {Molecule Names} 
      24. {Motorcycle Clubs} 
      25. {Motorsport Races} 
      26. {Music Band Names}   
      1. {Musician Names} 
      2. {Mutant Plant Names} 
      3. {Natural Disaster Names} 
      4. {Newspaper Names} 
      5. {Nicknames} 
      6. {Noble House Names} 
      7. {Pirate Crew Names} 
      8. {Plague Names} 
      9. {Plant and Tree Names} 
      10. {Player Class & NPC Types} 
      11. {Poison Names} 
      12. {Political Party Names} 
      13. {Post-Apocalyptic Society} 
      14. {Potion Names} 
      15. {Racer Names} 
      16. {Railway Names} 
      17. {Rank Names} 
      18. {Religion Names} 
      19. {Satellite Names} 
      20. {Scientific Bird Names} 
      21. {Scientific Creature Names} 
      22. {Scientific Plant Names} 
      23. {School Book Names (Magic)} 
      24. {Siege Engine Names} 
      25. {Software Names}   
      1. {Song Titles} 
      2. {Space Fleet Names} 
      3. {Spell Names} 
      4. {Sport Names} 
      5. {Sports Team Names} 
      6. {Squad Names} 
      7. {Superpowers} 
      8. {Teleportation Names} 
      9. {Throne Names} 
      10. {Time Period Names} 
      11. {Title Names} 
      12. {Tool Nicknames} 
      13. {Treaty Names} 
      14. {Tribal Names} 
      15. {Tribe Names} 
      16. {Usernames} 
      17. Vehicle Names > 
        * {Airplane Names} 
        * {Airship Names} 
        * {Car Names} 
        * {Helicopter Names} 
        * {Military Vehicle Names} 
        * {Pirate Ship Names} 
        * {Ship Names} 
        * {Spaceship Names} 
        * {Submarine Names} 
        * {Vehicle Names}   
      18. {Video Game Names} 
      19. {Vocal Group Names} 
      20. {Weapon Abilities} 
      21. Weapon Names > 
        * {Battle Axe Names} 
        * {Bombs & Missiles} 
        * {Bows & Crossbows} 
        * {Claws} 
        * {Daggers} 
        * {Dual Wielding} 
        * {Fist Weapons} 
        * {Flails & Maces} 
        * {Magic Books} 
        * {Magic Weapons} 
        * {Pistols} 
        * {Rifles} 
        * {Sci-Fi Guns} 
        * {Shotguns} 
        * {Spears & Halberds} 
        * {Staves} 
        * {Swords} 
        * {Throwing Weapons} 
        * {War Hammers} 
        * {War Scythes} 
        * {Whips & Lassos}   
      22. {Web Series} 
      23. {Wine Names} 
      24. {Wrestler Names} 
      25. {Wrestling Move Names}   
</div>
{% endblock %}

